body{
	background-color: aqua;
}
h1{
	color: red
}
p{
	color: red
}


img.left {

    float: left;

    margin: 15px 15px 15px 15px;

}
<embed src="ik.jpg" width="2" height="2">





img.right {

    float: right;

    margin: 15px 15px 15px 15px;

}

p {

    margin-left: 10px;

}



main {

	border-style: solid;

	border-width: 1px;

    width: 800px;

    margin: 0 auto;

    background: lightblue;

    padding-top: 5px;

    border-color: black;



}



div{

	margin-bottom: 70px;

}



img{

	border-style: solid;

	border-width: 2px;

}
